
<!DOCTYPE html>
<html>
  <head>
    <title>TwilioTreeBot</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="description" content="TwilioTreeBot App">
    <meta name="viewport" content="width=device-width">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>

    <style>
    body { font-family: Helvetica, Arial, sans-serif; }
    div#main { width: 800px; height: 400px; margin: 40px auto; padding: 20px; border: 2px solid #5298fc; }
    h1 { font-size: 30px; margin: 0; }
    p { margin: 40px 0; }
    em { font-family: monospace; }
    a { color: #5298fc; text-decoration: none; }
    #input-wrapper {
      padding-bottom:15px;
    }
    #account-submit {
      background: #73D175;
      color: white;
      box-shadow:none;
      border-color: #599E5A;
    }
    #api-response { display: none; }
    #ajax-loading { display: none; }
    #api-response.success { color: #0f0; }
    #api-response.error { color: #f00; }
    </style>
  </head>
  <body>
