
<!DOCTYPE html>
<html>
  <head>
    <title>TwilioTreeBot</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="description" content="TwilioTreeBot App">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <link href="css/style.css" rel="stylesheet" />
    <link href="css/ttb.css" rel="stylesheet" />

    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
  </head>
  <body>

    <div id="wrapper">

      <nav>
        <section>
          <h2 class="menulink close"><a href="#">Close</a></h2>
          <div class="clearfix"></div>
          <h2>Navigation</h2>
          <ul>
            <li><a href="/">Home</a></li>
            <% if (currentUser) { %>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/signout">Logout</a></li>
            <% } else { %>
            <li><a href="/signup">Trial Signup</a></li>
            <% } %>
            <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </nav>

      <div class="left">
          <h2 class="menulink hamburger"><a href="#">Menu</a></h2>
          <section>
              <h1 class="logo"><a href="/"><img src="/images/logo.png" alt="TwilioTreeBot" /></a></h1>

              <% if (currentUser) { %>

              <h3>Hello <%= currentUser.username %>, welcome to your
              TwilioTreeBot account. Click on the Menu on top to Browse
              available Modules</h3>

              <% } else { %>

              <h3>Welcome to TwilioTreeBot. Go ahead and
              <a href="/signin" class="btn">Login</a>
              or <a href="/signup" class="btn">Signup</a>
              to send Feedback Requests <b>today</b> and let TwilioTreeBot handle
              Feedback Discussion.</h3>

              <% } %>

          </section>
      </div>
