
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Hello World</h1>
    <p><%= message %></p>
  </body>
</html>
