
<%- include header -%>

    <div class="right">
        <section>
            <div class="title align-center">
                <h2>Send Feedback Requests Today</h2>
                <p>Signup for an account and send Feedback Requests today !</p>
                <p>Already have an account ? <a href="/signin" class="btn">Login</a></p>
            </div>
            <div class="wide">
                <div class="form-box">
                    <div id="success">
                        <div class="green align-center">
                            <p>Your message was sent successfully!</p>
                        </div>
                    </div>
                    <div id="error">
                        <div>
                            <p>Something went wrong. Please refresh and try again.</p>
                        </div>
                    </div>
                    <form id="trial" name="trial" method="post" novalidate="novalidate">
                        <div class="form-row">
                            <label>Office Name <span class="required">*</span></label>
                            <input type="text" name="name" id="officename" size="30" value="" required="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <label>Email Address <span class="required">*</span></label>
                            <input type="text" name="email" id="username" size="30" value="" required="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <label>Area Code <span class="required">*</span></label>
                            <input type="text" name="phone" id="phone" size="30" value="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <label>Password</label>
                            <input type="password" name="password" id="password" size="30" value="" class="text login_input">
                        </div>
                        <div class="form-row">
                            <input id="submit" type="submit" name="submit" value="Signup and get started!" class="btn btn-wide">
                        </div>
                        <div class="align-center">We take privacy seriously.</div>
                    </form>
                </div>
                <div class="shadow"></div>
                <div class="meta align-center">
                    <a href="/terms-and-conditions">Terms &amp; Conditions</a>
                </div>
            </div>
        </section>
    </div>

<%- include footer -%>
