
<%- include header -%>

    <div class="right">

        <section>

            <div class="title align-center">

                <h2>Terms &amp; Conditions</h2>

            </div>

            <div class="form-box padded">

<h4>Sed sit amet quam quis elit vestibulum tincidunt nec ut ex. Quisque nec arcu in lacus tempus condimentum ac quis erat. Morbi hendrerit consequat est, vitae dignissim urna malesuada eu. Curabitur lobortis dui ut lacus ultrices maximus.</h4>

<p>Vivamus arcu massa, semper sed pharetra consequat, semper in ipsum. Phasellus et maximus diam. Donec sit amet tempus magna, sit amet sollicitudin nisl. Duis vestibulum et tellus et faucibus. Morbi et urna id est porttitor elementum id cursus ligula. Vestibulum lectus lorem, elementum vitae ornare vitae, placerat vel orci.</p>

<p>In euismod arcu sed dui ornare ultrices. Donec blandit sollicitudin tellus a lobortis. Aenean iaculis erat ut urna sodales, in ultrices nulla facilisis. Maecenas venenatis nisi id risus scelerisque pellentesque. Nullam lobortis, ligula eu aliquet ullamcorper, dolor eros ultrices metus, ut tempor dui quam sollicitudin libero. In placerat ipsum odio, sed malesuada ante mollis id. Maecenas accumsan porttitor nisi, a bibendum magna elementum non.</p>

<p>Sed rutrum viverra rutrum. Suspendisse nec lacinia sem, sed efficitur turpis. In sit amet nulla eget justo faucibus iaculis sed nec nibh. Integer purus elit, maximus vel fermentum vel, vehicula luctus nisi. Donec venenatis sem a faucibus pharetra. Phasellus iaculis lacus condimentum massa aliquam mattis nec ut tellus. Morbi a posuere mauris. Fusce sagittis elit metus, quis bibendum orci semper eget. Nam quis nibh vel dui posuere malesuada. Etiam ultricies sodales ligula at sagittis.</p>

<p>In euismod arcu sed dui ornare ultrices. Donec blandit sollicitudin tellus a lobortis. Aenean iaculis erat ut urna sodales, in ultrices nulla facilisis. Maecenas venenatis nisi id risus scelerisque pellentesque. Nullam lobortis, ligula eu aliquet ullamcorper, dolor eros ultrices metus, ut tempor dui quam sollicitudin libero. In placerat ipsum odio, sed malesuada ante mollis id. Maecenas accumsan porttitor nisi, a bibendum magna elementum non.</p>

<p>In euismod arcu sed dui ornare ultrices. Donec blandit sollicitudin tellus a lobortis. Aenean iaculis erat ut urna sodales, in ultrices nulla facilisis. Maecenas venenatis nisi id risus scelerisque pellentesque. Nullam lobortis, ligula eu aliquet ullamcorper, dolor eros ultrices metus, ut tempor dui quam sollicitudin libero. In placerat ipsum odio, sed malesuada ante mollis id. Maecenas accumsan porttitor nisi, a bibendum magna elementum non.</p>

<p>Sed rutrum viverra rutrum. Suspendisse nec lacinia sem, sed efficitur turpis. In sit amet nulla eget justo faucibus iaculis sed nec nibh. Integer purus elit, maximus vel fermentum vel, vehicula luctus nisi. Donec venenatis sem a faucibus pharetra. Phasellus iaculis lacus condimentum massa aliquam mattis nec ut tellus. Morbi a posuere mauris. Fusce sagittis elit metus, quis bibendum orci semper eget. Nam quis nibh vel dui posuere malesuada. Etiam ultricies sodales ligula at sagittis.</p>

<p>In euismod arcu sed dui ornare ultrices. Donec blandit sollicitudin tellus a lobortis. Aenean iaculis erat ut urna sodales, in ultrices nulla facilisis. Maecenas venenatis nisi id risus scelerisque pellentesque. Nullam lobortis, ligula eu aliquet ullamcorper, dolor eros ultrices metus, ut tempor dui quam sollicitudin libero. In placerat ipsum odio, sed malesuada ante mollis id. Maecenas accumsan porttitor nisi, a bibendum magna elementum non.</p>

            </div>

            <div class="shadow"></div>

        </section>

    </div>

<%- include footer -%>
